td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
    color: #44515c;
}

.row1 td, .row2 td {
    border-bottom: 4px solid #4c5a66;
}

.column1, .column2 {
    border-right: 4px solid #4c5a66;
}
table {
    margin: 0 auto;
}

button {
    text-align: center;
    margin: .4em;
    cursor: pointer;
    font-size: 40px;
}

#boton {
    background-color:seashell;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin: .4em;
    border: 2px solid rgba(9, 214, 183, 0);
    border-radius: 15px;
    cursor: pointer;
    font-size: 50px;
}

.fa-jedi {
    color: #f0dc8d;
}

.fa-sith {
    color: #d61e1e;
}